.body {
    background-image: url('../image/dark.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 80%;
    height: 70%;
    border: 2px solid #fff;
    box-shadow: 4px 2px 8px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

@keyframes imageTransition {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

.image {
    width: 14%;
    height: 30%;
    border-radius: 50%;
    cursor: pointer;
}

.name {
    color: white;
    font-size: 25px;
}

.vote-star {
    display: flex;
    color: yellow;
    justify-content: space-between;
    width: 14%;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.favourite {
    color: white;
    font-size: 22px;
    margin-top: 25px;
}

.btn {
    color: black;
    background-color: antiquewhite;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.btn-prev {
    position: absolute;
    top: calc(50% -20px);
    left: -20px
}

.btn-next {
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
}

.btn:hover {
    background-color: red;
    color: white
}